<div ng-controller="homeController" class="container col-md-18">
    <div class="row" ng-show="!addgame">
        <button class="btn btn-primary" ng-click="startCreateGame()">Create Game</button>
    </div>
    <br><br><br>
    <div class="row" ng-show="addgame">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="username" class="col-md-4 control-label" style="color:black" ><b>No of Players</b></label>
                <div class="col-md-5">
                    <input id="noOfPlayers" type="number" class="form-control" ng-model="newgame.noOfPlayers">
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-md-4 control-label" style="color:black"><b>No Of hands</b></label>
                <div class="col-md-5">
                    <input id="noOfHands" type="number" class="form-control" ng-model="newgame.noOfHands">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-18">
                    <button class="btn btn-primary" ng-click="createGame()">Create</button>
                </div>
            </div>
        </form>
    </div>
    <br><br><br>
    <div class="row">
        <h3 style="color:black">Available Games</h3>
        <div class="row col-md-18">
            <table class="table" style="table-layout: fixed">
                <thead>
                    <tr class="text-center">
                        <th class="col-md-6" style="color:black">Game Id</th>
                        <th class="col-md-6" style="color:black">No Of Players</th>
                        <th class="col-md-2" style="color:black">No of Hands</th>
                        <th class="col-md-4" style="color:black"></th>
                    </tr>
                </thead>
                <tr ng-repeat="game in games">
                    <td class="text-center" style="color:black">{{game.id}}</td>
                    <td class="text-center" style="color:black">{{game.noOfPlayers}}</td>
                    <td class="text-center" style="color:black">{{game.noOfHands}}</td>
                    <td><button class="btn btn-primary" ng-click="joinGame(game.id)">Join Game</button></td>                        
                </tr>
            </table>      
        </div>
    </div> 
</div>