var stop = $interval(function() {
                        console.log("Card Played")
                        checkGameStatus();
                        getPlayerCards();  
                        getHandCards();
                      }, 3000, 100);

<ol style="list-style-type: none; display: inline-block;">
              <li ng-repeat="card in clubCards">
                <img ng-src="{{card.imgsrc}}" alt="card" height="50" width="50"/>
              </li>
           </ol>
           <ol style= "list-style-type: none; display: inline-block;">
              <li ng-repeat="card in diamondCards">
                <img ng-src="{{card.imgsrc}}" alt="card" height="50" width="50"/>
              </li>
           </ol>

playerCards {
    list-style-type: none;
    padding:0; margin:0;
    column-count:13;
    -webkit-column-count:13;
    -moz-column-count:13;
}

<div>
                <span>
                    <ul style="list-style-type: none; display: inline-block;">
                      <li ng-repeat="card in heartCards">
                        <img ng-src="{{card.imgsrc}}" alt="card" height="50" width="50"/>
                      </li>
                    </ul>
                    <div class="divider"/>
                   <ul style="list-style-type: none; display: inline-block;">
                      <li ng-repeat="card in spadeCards">
                        <img ng-src="{{card.imgsrc}}" alt="card" height="50" width="50"/>
                      </li>
                   </ul>
                    <div class="divider"/>
                    <ul style="list-style-type: none; display: inline-block;">
                      <li ng-repeat="card in clubCards">
                        <img ng-src="{{card.imgsrc}}" alt="card" height="50" width="50"/>
                      </li>
                   </ul>
                    <div class="divider"/>
                    <ul style="list-style-type: none; display: inline-block;">
                      <li ng-repeat="card in diamondCards">
                        <img ng-src="{{card.imgsrc}}" alt="card" height="50" width="50"/>
                      </li>
                   </ul>
                <span>
            </div>
                    
                    $scope.$on('$locationChangeStart', function( event ) {
            var answer = confirm("Are you sure you want to leave this page?")
            if (!answer) {
                event.preventDefault();
            }
        });  
                    
                    
            
              Game.get(gid).$promise.then(function(game) {
                    $scope.game = game;
                  if(game.gameStatus === 3)
                  {
                      $scope.startButton = true;
                  }
                  if(game.gameStatus === 4)
                  {

                      if($scope.heartCards === undefined)
                      {
                          currentPlayer = game.currentPlayerId;
                          getPlayerCards();
                          getHandCards();
                      }
                      $scope.play = true;
                      $scope.startButton = false;
                  }
                  if(game.gameStatus === 6)
                  {
                      $scope.showResults = true;
                      $scope.getResults();
                      $scope.play = false;
                  }
                  if(game.currentPlayerId === $rootScope.playerId)
                  {
                      $scope.playButton = true;
                  }
                  else
                  {
                      $scope.playButton = false;
                  }
                  if(game.currentHandStatus === 2)
                  {

                      alert("Hand has ended.")
                      if(game.handWinnerId === $rootScope.playerId)
                      {
                          alert("The winner is player : " + game.handWinnerId)
                      }
                  }

                  if(currentPlayer !== game.currentPlayerId)
                  {
                      currentPlayer = game.currentPlayerId;
                      getPlayerCards();
                      getHandCards();
                  }
              });  